.exp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.form, .rightSide{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}
.rightSide{
    gap: 5px;
}
.rightSide> *:nth-child(2){
    flex: 1;
}
.form label{
    color: white;
}
.exp button{
    margin: auto 0 25px 0;
}
.exp h3{
     margin: auto;
 }
.select{
    display: flex;
}
.select > *:last-child{
    flex:1;
}
.exp ul{
    padding: 0 15px;
}
.exp span{
    float: right;
    cursor: pointer;
}
