.preview{
    max-height: 60vh;
    overflow-y: auto;

    margin: 20px auto;
}
.cv{
    background-color: #edc1ab;
    color: #64320b;
    text-align: left;
    padding: 25px;
    min-height: 27.6cm;
    position: relative;
    padding-bottom: 50px;
}
.light{
    color: #64320b99;
}
.cv header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}
.title{
    flex: 1;
}
.cv h1{
    font-size: 32px;
    margin: 0;
}
.cv h2{
    font-size: 20px;
    margin: .2em 0;
}
.cv h3{
    padding: 0;
    margin: 0;
}
.cv ul{
    padding-left: 20px;
}
.cv li{
    margin-left: 20px;
}
.cv p{
    font-size: 14px;
    margin: .2em 0;
}
.img{
    max-width: 130px;
    max-height: 130px;
}

.contacts svg{
    margin-right: 8px;
    height: 18px;
}
.skill{
    margin: 20px 0;
}
.skill li{
    list-style: square;
}
.exp ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.cv footer{
    width: calc(100% - 50px);
    position: absolute;
    bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.preview::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #edc1ab;
}
.preview::-webkit-scrollbar-thumb {
    background-color: #64320b99;
    border-radius: 9em;
}
.preview::-webkit-scrollbar-thumb:hover {
    background-color: #64320b;
}
