.container{
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, rgba(238,174,202,0.7) 0%, rgba(148,187,233,0.7) 50%, rgba(180,233,148,0.7) 100%);

  width: 700px;
  border-radius: 50px;
  padding: 50px;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.nav>a{
  color: white;
  padding: 10px;
  border: solid 1px white;
  border-radius: 20px;
}

.nav>a:hover{
  box-shadow: 10px 10px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.selected{
  background-color: #FFFFFF88;
}

.container > section{
  text-align: center;
}

@media screen and (max-width: 720px){
  .container {
    padding: 20px;
    min-width: 100vw;
    width: 100vw;
    border-radius: 0;
    transform:  translate(0, -50%);
    left: 0;
  }
  .nav{
    gap: 10px;
    flex-wrap: wrap;
    margin: 5px;
  }

  .nav>a{
    padding: 5px;
  }
}
@media screen and (max-height: 640px){
  .container {
    min-width: 100vw;
    min-height: 100vh;
    border-radius: 0;
    left: 0;
    top: 0;
    transform: none;
  }
}
@media  screen and (max-width: 480px) {
  .container {
    min-width: 100vw;
    width: 100vw;
    border-radius: 0;
    min-height: 100vh;
    left: 0;
    top: 0;
    transform: none;
  }
  .container>section>div{
    grid-template-columns: 1fr;
  }
}
